<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- SHOW YOUR TERMS
  <!-- javascript -->
  <script type='text/javascript' src='https://cdn.rawgit.com/kandebonfim/show-your-terms/master/dist/show-your-terms.min.js'></script>
  <!-- stylesheet -->
  <link rel='stylesheet' href='https://cdn.rawgit.com/kandebonfim/show-your-terms/master/dist/show-your-terms.min.css'>

  <link href="https://fonts.googleapis.com/css?family=Lalezar|Lobster|Lato" rel="stylesheet">

  <!-- link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml"> -->
</head>
