<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <h1 class="title">Michael Goulet</h1>

    <div class="top-menu">
      <a class="sub" href="/">home</a>
      &middot;
      <a class="sub" href="/journal/">programming journal</a>
      &middot;
      <a class="sub" href="https://github.com/compiler-errors">my github</a>
      &middot;
      <a class="sub" href="https://keybase.io/compilererrors">keybase</a>
      &middot;
      <a class="sub" href="/resume.pdf">résumé</a>
    </div>

    <div class="content">
      {{ content }}

      <div class="footer">
        <div class="contact-left">
          <p>
            Michael Goulet<br/>
            Caltech, Pasadena, CA
          </p>
        </div>
        <div class="contact-right">
          <p>
            michael.goulet (at) errs.io<br/>
            <a class="extra" href="https://github.com/compiler-errors">Visit my Github!</a>
          </p>
        </div>
      </div>
    </div>

    <script>
      new ShowYourTerms('.showyourterms');
    </script>
  </body>
</html>
